@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    box-sizing: border-box;
    /*margin: 0;*/
    /*padding: 0;*/
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D3D3D3;
}

.wrapper {
    display: flex;
    height: 80%;
    width: 70%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;

    text-shadow: 0 1px 0 #DCDCDC;
    opacity: .5;
}

.card {
    margin: 5%;
    width: 230px;
    height: 305px;
    padding: 2rem 1rem;
    background: #D3D3D3;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;

    -ms-flex-direction: unset;
    flex-direction: unset;
    min-width: unset;
    word-wrap: unset;
    background-clip: unset;
    border: unset;
    border-radius: unset;
}

.card:hover {
    transform: translateY(20px);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(237, 135, 45, 0.5), rgba(237, 135, 45, 1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover:before {
    opacity: 1;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info {
    position: relative;
    z-index: 3;
    color: #bdbdbd;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.card .info h1 {
    margin: 0;
}

.card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.card .info .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #D3D3D3;
    color: #3D3D3B;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.card .info .btn:hover {
    box-shadow: 0 7px 10px rgba(61, 61, 59, 0.5);
}